#Veic_fotos{
    width: 310px;
    height: 190px;
    border-radius: 24px;
    background: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#Veic_fotos>#veic1, #Veic_fotos>#veic2, #Veic_fotos>#veic3{
    border-radius: 16px;
    min-width: 250px;
    max-width: 300px;
    width: auto;
    max-height: 190px;
    height: auto;
}
#ContFts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 236px;
    background: #1f1b58;
    color: #fff;
    margin-bottom: 20px;
}
#dadosV{
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #b5b5b5;
}

.dado{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    border-bottom: 3px solid #fff;
}
.dado>p{
    margin: 0 10px;
}

#erroIMG{
    color: #1f1b58;
}
#seta{
    display: flex;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}
#seta:hover{
    cursor: pointer;
}