#Veic_fotos{
    width: 310px;
    height: 190px;
    border-radius: 24px;
    background: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#Veic_fotos>#veic1, #Veic_fotos>#veic2, #Veic_fotos>#veic3{
    max-width: 300px;
    width: auto;
    max-height: 190px;
    height: auto;
}
#ContFts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 236px;
    background: #1f1b58;
    color: #fff;
    margin-bottom: 20px;
}
#dadosV{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.dado{
    border-top: 2px solid #b5b5b5;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 36px;
}
.dado>p{
    margin: 0 10px;
}

#erroIMG{
    color: #1f1b58;
}
#seta{
    display: flex;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}
#seta:hover{
    cursor: pointer;
}
#alugar{
    padding: 0px 5px;
    width: 360px;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}
#dias{
    border-color: #fff;
    border-radius: 16px;
    margin-right: 135px;
    height: 30px;
    width: 40px;
}

#alugarBTN {
    font-size: 20px;
    width: 183px;
    color: #fff;
    width: 122px;
    height: 32px;
    border-radius: 16px;
    border:none;
    background: linear-gradient(180deg, #322C91 0%, #285E9E 100%);

}

#detalhes{
    display: flex;
    flex-direction: column;
}

