body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;

}
.Topcontainer {
    margin-top: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background: linear-gradient(90deg, #322C91 0%, #285E9E 80%);
    color: #fff;
    padding: 5px;
    box-sizing: border-box;
}

.light-mode {
    background-color: #6b5b95;
    color: #fff;
}

.dark-mode {
    background-color: #2e2e2e;
    color: #fff;
}

.toggle-header {
    
    width: 0;
    height: 0;
    border-style: solid;
}

.down {
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent #fff transparent;
}

.up {
    
    border-width: 8px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
}

.cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn{
    background: #2A43A8;
    border: solid;
    border-left-color: #285E9E;
    border-top-color: #285E9E;
    border-right-color: #1f1b58;
    border-bottom-color: #1f1b58;
    border-radius: 5px;
    font-size: 17px;
    color: #fff;
    width: 90px;
    height: 32px;
    }

.btn:focus {
    outline: 1px solid #1f1b58;
}