@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');

#html{
    background-color: white;
}

body{
    margin: 0;
}

.VeicIMG{
    margin: 10px 0px;
    width: auto;
    height: auto;
    max-height: 75px;
    max-width: 105px;
}
.DivVeicIMG{
    min-height: 75px;
}    
.veiculo{
    background-color: #2a43a81c;
    display: flex;
    margin: 20px auto;
    border-radius: 8px;
    width: 130px;
    height: 180px;
    padding: 3px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.alugarBTN{
    background:#2A43A8 ;
    border:  solid ;
    border-left-color  : #285E9E ;
    border-top-color   : #285E9E ;
    border-right-color : #1f1b58 ;
    border-bottom-color: #1f1b58 ;
    border-radius: 5px;
    color: white;
    width: 110px;
    height: 25px;
    margin-bottom: 10px;
}
.erroIMG{
    display: flex;
    width: 105px;
    height: 67px;
    align-items: center;
    justify-content: center;
}
#conteudo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

label{    
    width: 118px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    height: 50px;
}


#menuLateral{
    font-family: 'Martian Mono', monospace;
    top: 0px;
    padding: 10px;
    background-color: #15133b;
    width: 300px;
    color: #fff;
    position: fixed;
    display: flex;
    display: none;
    flex-direction: column;
    height: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.item{
    border-bottom: 3px solid #fff;
}

#sair{
    color: #ff0000;
}

#retMenu{
    width: 32px;
    height: 32px;
}

#temaDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#btntema{
    color: #ffffff;
    background-color: rgb(9, 23, 44);
    font-size: 19px;
    border: 1px solid #000e27;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
}

#btntema:hover{

    color: #000000;
    background-color: #ffffff;
    font-size: 19px;
    border: 1px solid #001130;
    cursor: pointer;
    padding: 10px 20px 10px 30px;
    transition: 0.3s;
}

#noneD{
    display: none;
}