.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
}
main{
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-direction:column;
}
table {
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #29b954;
}

th, td {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #29b954;
}

tr:hover {
    color: #000;
    background-color: #ddd;
}

@media (max-width: 568px) {
    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }
    main{
        padding: 0 5px
        
    }
    #Veic_fotos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        max-width: 500px;
        min-width: 350px;
    }
}
@media (min-width: 700px){
    main{
        padding: 0 50px;
    }
    #TbInfo{
        width: 400px;
        
    }
    #Veic_fotos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 400px;
    }
}

.imgVisvel{
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.modern-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #29b954;
    width: 150px;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modern-button:hover {
    background-color: #34db3c;

}

#Fpag{
    display: flex;
    flex-direction: column;
    
    gap: 10px;
}