@media (max-width: 360px) {
    /* Estilos a serem aplicados quando a largura da tela for menor ou igual a 360px */
    main {
      width: 350px;
    }
}

body{
    background:#f5f6fa !important ;
    margin: 0;
}
header{
    background-color: #322c91fd;
}
nav{
    font-family:  Geneva, Verdana, sans-serif;
    color: white;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#Menu>img{
    width: 32px;
    height: 32px;
    margin:2px;
}
#login{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
    border-radius: 32px;
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.596);
    margin: 6px;
    width: 32px;
    height: 32px;
}

#login:hover {
    cursor: pointer;
  }

#sair>form>input{
    border-radius: 5px;
    border-left-color: #f57d7d;
    border-top-color: #f57d7d;
    background-color: #ad2121 ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    width: 75px;
    
}

#info_user>form>input{
    border-radius: 5px;
    border-left-color: #7d85f5;
    border-top-color: #7d8ff5;
    background-color: #2a21ad ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    width: 75px;
    
}

#SrBorda{
    display: none;
    padding:10px 4px 15px 4px;
    background-color: rgba(0, 0, 0, 0.719)  ;
    right: 13px;
    position: absolute;
    border-radius: 5px;
}

#Pesquisa{

    display: flex;
    justify-content: flex-end;
    padding: 8px 3px 0px 5px;
}
#pesq_input {
    
    width: 90%;
    background-color: #f5f6fa7c;
    border: 1px solid #7c7c7c;
    border-radius: 10px;
    
}
#pesqBtn{
    width: 24px;
    margin-right: 3%;
}