@media (max-width: 360px) {
    /* Estilos a serem aplicados quando a largura da tela for menor ou igual a 360px */
    main {
      width: 350px;
    }
}



*:focus{
    outline: 2px solid #322C91;
}
body{
    background:#f5f6fa !important ;
    margin: 0;
}
header{
    background-color: #322c91fd;
}
nav{
    font-family:  Geneva, Verdana, sans-serif;
    color: white;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

hr{
    margin-top: 1px;
}

#Menu>img{
    padding-left: 8px;
    width: 32px;
    height: 32px;
    margin: 2px;
}
#login{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
    border-radius: 32px;
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.596);
    margin: 6px;
    width: 32px;
    height: 32px;
}

#login:hover {
    cursor: pointer;
  }

#sair>form>input{
    border-radius: 5px;
    border-left-color: #f57d7d;
    border-top-color: #f57d7d;
    background-color: #ad2121 ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    width: 75px;
    
}

#info_user>form>input{
    border-radius: 5px;
    border-left-color: #7d85f5;
    border-top-color: #7d8ff5;
    background-color: #2a21ad ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    width: 75px;
    
}

#SrBorda{
    display: none;
    padding:10px 4px 15px 4px;
    background-color: rgba(0, 0, 0, 0.719)  ;
    right: 13px;
    position: absolute;
    border-radius: 5px;
}

#Pesquisa{
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 1px 3px 0px 5px;
}

#pesq_input {
    background-color: #f5f6fa7c;
    border: 1px solid #7c7c7c;
    border-radius: 10px;
}

#pesqBtn{
    width: 24px;
    fill: #fff;
}

#Pesquisa > p{
    margin: 0;
}

#Pesquisa> form{
    display:flex;    
    flex-direction: row;

}

.cidadeINPT{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0px;
}
.cidadeINPT > p {
    margin: 0;
}

.cidadeINPT > input{

    margin: 00px 07px;
}

#busca{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 150px;
    color:#fff;
    background-color: #2243c9e0;
    border: #00000000 solid;
    margin-left: 30px;
}
#busca>p{
    margin: 0;
}

.cidade{
    font-size: 12px;
    width: 110px;
}

@media (max-width: 690px) {
    /* Estilos a serem aplicados quando a largura da tela for menor ou igual a 360px */
    #Pesquisa{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ddd;
        padding: 1px 3px 0px 5px;
    }
    
    #pesq_input {
        background-color: #f5f6fa7c;
        border: 1px solid #7c7c7c;
        border-radius: 10px;
    }
    
    #pesqBtn{
        width: 24px;
        fill: #fff;
    }
    
    #Pesquisa > p{
        margin: 0;
    }
    
    #Pesquisa> form{
        display:flex;    
        flex-direction: column;
        align-items: center;
    }
    
    .cidadeINPT{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 310px;
        margin: 5px 0px;
    }
    .cidadeINPT > p {
        margin: 0;
    }
    
    .cidadeINPT > input{
    
        margin: 00px 07px;
    }
    
    #busca{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 250px;
        color:#fff;
        background-color: #2243c9e0;
        margin-left: 0;

    }
    #busca>p{
        margin: 0;
    }
    
    .cidade{
        font-size: 12px;
        width: 150px;
    }
}
#avisoINF{
    margin: 100px auto;

}