main{
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    font-size:22px ;
}

hr{
    width: 320px;
}
#Dtlh{
    width: 350px;
    height: 32px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #D9D9D9;
}
form>p{
    margin-right :15px;
}

#ImgUsr{
    margin-top: 40px;
    width: 180px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 90px;
    border: 4px solid #cacccf;
    
    border-radius: 90px;
}
#ImgUsr>img{
    width: 185px;
    height: 185px;
}

#NameUsr{
    display: flex;
    width: 130px;
    height: 34px;
    margin-bottom: 11px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#EmailUsr{
    margin-top: 0;
    flex-shrink: 0;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#classifc{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
#classifc>p{
    margin-right: 20px;
}

#Estrela{
    width: 32px;
    height: 32px;
    margin-left: 2px;
}


#veiculoImg{
    display: flex;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 52px;
    background: #D9D9D9;
    justify-content: center;
    align-items: center;
}

#veiculoImg > form > input[type=submit]{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #2c4d9a;
    margin: 0;
    border: 0;
    background-color: #00000000;
}

#veiculoImg > form > input[type=submit]:hover{
    cursor: pointer;
}

#DetlhBtn{
    color: white;
    width: 122px;
    height: 32px;
    border:none;
    background: linear-gradient(180deg, #322C91 0%, #285E9E 100%);
}

#V_Imgs{
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: nowrap;
    justify-content: center;
}

.seta{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

#btntema{
    margin-top: 10px;
    color: #ffffff;
    background-color: #2d63c8;
    font-size: 19px;
    border: 1px solid #2d63c8;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
}
#btntema:hover{
    margin-top: 10px;
    color: #ffffff;
    background-color: #2d63c8;
    font-size: 23px;
    border: 1px solid #2d63c8;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.3s;
}